@import "tailwindcss";

html {
	font-size: 1px;
}

@theme {
	/* variables */
	--color-coffe: #B68668; /* colores */
	--spacing-card: 25dvh; /* medidas */

	/* sobrescribe colores de tailwind */
	--color-blue-500: #0f0;

	/* disenio responsive */
	--breakpoint-sm: 23px
}
