@import "tailwindcss";

html {
	/*
	cambia el valor de 1rem
	font-size: 1px;
	*/
}

@theme {
	/* variables */
	--color-coffe: #B68668; /* colores */
	--spacing-card: 25dvh; /* medidas */

	/* sobrescribe colores de tailwind */
	--color-blue-500: #0f0;

	/* disenio responsive */
	/*
	sobre escribiendo breakpoints
	--breakpoint-sm: 27.75rem;
	*/
	/* crea nuevos breakpoints */
	--breakpoint-tablet: 45rem;
	--breakpoint-desktop: 57.5rem;

	/* container query */
	--container-sm: 31.25rem;
}

.button {
	@apply bg-violet-800 text-center rounded-sm;
}
